@import "../../../styles/_colors.scss";

.start {
  background-color: white;
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    &--easy {
      color: $color-primary-dark;
    }
    &--medium {
      color: $color-tertiary-dark;
    }
    &--hard {
      color: $color-secondary-dark;
    }
  }
  &__link {
    background: black;
  }
  &__selection {
    position: relative;
    height: 33.3333vh;
    transition: all 0.4s; // need to address transition
    &--easy {
      background: linear-gradient(
          to right bottom,
          rgba($color-primary-light, $opacity-light),
          rgba($color-primary-dark, $opacity-light)
        ),
        url(./img/easy.jpg);
      background-size: cover;
      background-position: bottom;
    }
    &--medium {
      background: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, $opacity-light),
          rgba($color-tertiary-dark, $opacity-light)
        ),
        url(./img/medium.jpg);
      background-size: cover;
      background-position: bottom;
    }
    &--hard {
      background: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, $opacity-light),
          rgba($color-secondary-dark, $opacity-light)
        ),
        url(./img/hard.jpg);
      background-size: cover;
      background-position: bottom;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
