@import "../../../styles/_colors.scss";

.game {
  width: 80%;
  margin: auto;
  position: relative;
  height: 100vh;

  &__headline {
    margin: 0 auto;
    text-transform: capitalize;
    padding: 0.75rem;
  }
  &__flags {
    margin-top: 4rem;
  }

  &__points {
    position: absolute;
    padding-top: 10px;
    bottom: 6rem;
    right: 4rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 1),
      rgba($color-secondary-dark, 1)
    );
  }
}
@media only screen and (max-width: 600px) {
  .game {
    position: relative;

    &__flags {
      margin-top: 1.5rem;
    }

    &__points {
      position: absolute;
      bottom: 3.5rem;
      right: 0;
    }
  }
}
@media only screen and (max-height: 400px) {
}
