@import "../../../styles/_colors.scss";

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color-primary-dark;
  color: black;
  text-align: center;
}
a,
a:link,
a:visited {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

p {
  margin: 0.2rem;
}
