@import "./styles/_colors.scss";

body {
  height: 100vh;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 1),
    rgba($color-primary-dark, 1)
  );
}
/* Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}
.my-small {
  margin: 1rem 0;
}
.mx-small {
  margin: 0 1rem;
}

@media only screen and (max-width: 420px) {
}

@media only screen and (max-height: 400px) {
}
