img {
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  height: 18rem;
}
@media only screen and (max-width: 420px) {
  img {
    height: 7.5rem;
    width: 60%;
  }
}
@media only screen and (max-height: 400px) {
  img {
    height: 7.5rem;
    width: 80%;
  }
}
